* text=auto
*.py text eol=lf
*.yaml text eol=lf
*.yml text eol=lf
*.md text eol=lf
*.json text eol=lf
*.param text eol=lf
*.toml text eol=lf
*.txt text eol=lf
*.html text eol=lf
*.css text eol=lf
*.js text eol=lf
*.sh text eol=lf
*.service text eol=lf
*.desktop text eol=lf
*.template text eol=lf
.gitignore text eol=lf
.gitattributes text eol=lf
*.bin binary
*.jpg binary
*.jpeg binary
*.png binary
*.mp4 binary
